body {
  #background-color: $light-gray;
  #color: $medium-gray;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.underline {
  border-bottom: 1px solid $grey;
}

.entry:hover {
  background: none repeat scroll 0% 0% $grey;
}

.entry span {
  @include position(relative, 0 null null 10em);
}

a.logo:hover {
  cursor: url(../sym57.cur), progress !important;
}