.hero {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: #477DCA !default;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////

  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: $medium-gray;
  $gradient-angle: 10deg;
  $hero-image: '/assets/images/beach_mini.png';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  //background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .button { margin: 5px; }

  .twitter {
    @include button(simple, #4c99cf);
  }

  .facebook {
    @include button(simple, #3f5da8);
    &:hover { color: $light-gray }
  }

  .github {
    @include button(simple, white);
    color: $dark-gray;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      padding-bottom: 30px;
      h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 0 auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}
