.category_title
  %h3
    = title
  %a{:href => "https://github.com/digitalnomads/digitalnomads.github.io/edit/source/data/#{title}.yml#fullscreen_blob_contents"}
    %i.fa.fa-pencil-square.fa-2x{:title => "edit category"}