%ul.entry-group
- entries.each do |line|
  %li.entry
    .entry-content
      = link_to line[1], line[0]
      .modal.comments
        %label{:for => "modal-#{WikiHelpers.urlify(line[1])}"}
          %a
            %i.fa.fa-comment-o
        %input#modal-1.modal-state{:type => "checkbox"}/
        .modal-window
          .modal-inner
            %label.modal-close{:for => "modal-#{WikiHelpers.urlify(line[1])}"}
            %h2
              = line[1]
            %iframe{:'data-src' => "modal"}