%header.centered-navigation{:role => "banner"}
  .centered-navigation-wrapper
    %a.mobile-logo{:href => "javascript:void(0)"}
      = image_tag 'nomadwiki_mini.png'
    %a#js-centered-navigation-mobile-menu.centered-navigation-mobile-menu{:href => "javascript:void(0)"}
      %i.fa.fa-bars.fa-2x
    %nav{:role => "navigation"}
      %ul#js-centered-navigation-menu.centered-navigation-menu.show
        %li.nav-link
          %a{:href => "#community"} Community
        %li.nav-link
          %a{:href => "#gear"} Gear
        %li.nav-link.logo
          %a.logo{:href => "javascript:void(0)"}
            =image_tag 'nomadwiki_mini.png'
        %li.nav-link
          %a{:href => "#locations"} Locations
        %li.nav-link
          %a{:href => "#misc"} Misc